<head>
  <link rel='stylesheet' href='/stylesheet/style.css' />
</head>
<body>
<div class="bg-image"></div>
<div class="container">

  <div class="title-box"><h1 class="title">DLOTW</h1></div>

  <h4 class="instructions">Enter a location.</h4>

<form class="" action="/weather" accept-charset="UTF-8" method="get">
  <div>
     <input class="location-input" type="text" name="name" id="city_name" size='40'/>
  </div>
  <div>
    <input class="submit-btn" type="submit" name="#" value="Check The Weather" id="button" />
  </div>
</form>


  <!-- <div class="result-div"> -->
    <h3 class="result-title">{{weatherObj.name}} forecast: {{weatherObj.weather[0].main}}</h3>
    <p class="result-text">The City of {{weatherObj.name}} has a high temperature of {{weatherObj.main.temp}} with a {{weatherObj.description}}. Wind speeds are at {{weatherObj.speed}}. </p>
  <!-- </div> -->

</div>
</body>
